<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></head>
<body>
	<form action="/users" method="get" accept-charset="utf-8">
		<div class="center">
			<input type="submit" name="" value="是否发送请求">
		</div>
	</form>
</body>
</html>