<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>K线图</title>
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.2.3/echarts.min.js"></script>
</head>
<body>
 <!-- 为 ECharts 准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 100%;height:650px;"></div>
				<input type="hidden" id="id" value="<%=id%>">
		<p style="text-align:center">
			<a href="/users/qihuo/RB0">螺纹钢</a>
			<a href="/users/qihuo/AG0">白银</a>
			<a href="/users/qihuo/AU0">黄金</a>
			<a href="/users/qihuo/CU0">沪铜</a>
			<a href="/users/qihuo/AL0">沪铝</a>
			<a href="/users/qihuo/ZN0">沪锌</a>
			<a href="/users/qihuo/PB0">沪铅</a>
			<a href="/users/qihuo/RU0">橡胶</a>
			<a href="/users/qihuo/FU0">燃油</a>
			<a href="/users/qihuo/WR0">线材</a>
			<a href="/users/qihuo/A0">大豆</a>
			<a href="/users/qihuo/M0">豆粕</a>
			<a href="/users/qihuo/J0">焦炭</a>
			<a href="/users/qihuo/C0">玉米</a>
			<a href="/users/qihuo/L0">乙烯</a>
			<a href="/users/qihuo/P0">棕油</a>
			<a href="/users/qihuo/V0">PVC</a>
			<a href="/users/qihuo/RS0">菜籽</a>
			<a href="/users/qihuo/RM0">菜粕</a>
			<a href="/users/qihuo/FG0">玻璃</a>
			<a href="/users/qihuo/CF0">棉花</a>
			<a href="/users/qihuo/WS0">强麦</a>
			<a href="/users/qihuo/ER0">籼稻</a>
			<a href="/users/qihuo/ME0">甲醇</a>
			<a href="/users/qihuo/TA0">甲酸</a>
		</p>
    <script type="text/javascript" src="/javascripts/qihuo.js"></script>
</body>
</html>
