<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>K线图</title>
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/echarts.js"></script>
</head>
<body>
 <!-- 为 ECharts 准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 100%;height:650px;"></div>
    <script type="text/javascript" src="/javascripts/users.js"></script>
</body>
</html>