.mini-box {position: absolute;top:0;left:0;right:0;background-color: rgba(255,255,255,0.8);text-align: center;}
.mini-box span + span {margin-left: 20px;}
.qm-box {position:absolute;top:0;z-index:100;line-height:20px;box-shadow: 0 0 5px #888;background-color: #FFF;border-radius: 5px;}
/* general styles */
.qm-box .general {text-align: left;padding: 10px}
.qm-box .row {margin:0;padding: 0;}
.qm-box .row .info {display: inline-block;}
.qm-box .row .info + .info {margin-left: 15px;}
.qm-box .row a {text-decoration: none; color: #4AB4EF;display: inline-block;}
.qm-box .row a + a {margin-left: 15px;}

tr.green td {color: green;}
tr.red td {color: red;}
/* table styles */
.qm-box table {width: 100%; border-collapse: collapse;}
.qm-box tbody tr:nth-child(odd) {background-color: #F5F5F5;}
.qm-box tbody tr:nth-child(odd) {background-color: #FFF;}
.qm-box tbody tr:hover {background-color: #ECECEC;}
.qm-box td, .qm-box th {border: 1px solid #d3d3d3;white-space: nowrap;padding: 2px 4px;}
/* plan styles */
.qm-box .plans {}
.qm-box .plans-wrapper {padding: 0 10px}
.qm-box .plans.off .plans-wrapper {display: none;}
/* event styles */
.qm-box .events {}
.qm-box .events-wrapper {padding: 10px;}
.qm-box .events.off .events-wrapper {display: none;}

.qm-overlay {z-index: 99999999;position: fixed;left: 0; top: 0; right: 0; bottom: 0;background-color: rgba(128,128,128,0.8);}
.qm-window {z-index: 100000000;position: fixed;min-width:350px;top: 50%; left: 50%;background-color: #FFF;border-radius: 5px;box-shadow: 0 0 8px #999;}
.qm-window-header {height: 20px;line-height: 20px;position: relative;padding: 10px;border-bottom: 1px solid #CCC;}
.qm-window-header .qm-window-close {float: right;cursor:pointer;display: inline-block;width:10px;height: 10px;background-color: #FFF;border-width:0px;}
.qm-window-body {position: relative;padding: 10px;}
.qm-window-footer {height: 44px; position: relative;padding-right:5px;border-top: 1px solid #CCC;background-color: #ECECEC;}
.qm-window-footer .btn {float: right;margin-top: 5px;}
.qm-window-footer .btn + .btn {margin-right: 5px;}
/* required button styles */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.focus,
.btn:active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default:active {
  background-image: none;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active {
  background-image: none;
}
/* nav styles */
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.form-group {
  margin-right: 26px;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[readonly] {
  background-color: #f6f6f6;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
#gaoyongjin {
	border:1px solid red;
}